version: '3.8'

services:
  # --------------------- #
  # Zookeeper and Kafka   #
  # --------------------- #
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: zookeeper
    restart: unless-stopped
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - backend_net

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: kafka
    restart: unless-stopped
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - backend_net

  # --------------------- #
  # PostgreSQL Database   #
  # --------------------- #
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend_net

  # --------------------- #
  # MongoDB Database      #
  # --------------------- #
  mongo:
    image: mongo:6.0
    container_name: mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - backend_net

  # --------------------- #
  # FastAPI Backend API   #
  # --------------------- #
  api:
    container_name: carbon_api
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - postgres
      - mongo
      - kafka
    env_file:
      - .env
    ports:
      - "8000:8000"
    networks:
      - backend_net

  # --------------------- #
  # ML Worker Container   #
  # --------------------- #
  ml_worker:
    container_name: ml_worker
    image: python:3.11-slim
    restart: "no"                        # run once and stop
    command: >
      bash -c "
        pip install -r requirements-ml.txt &&
        python ml/pull_and_train.py
      "
    env_file:
      - .env
    depends_on:
      - api
    volumes:
      - ./:/app
    working_dir: /app
    networks:
      - backend_net


# --------------------- #
# Persistent Volumes    #
# --------------------- #
volumes:
  postgres_data:
  mongo_data:

# --------------------- #
# Docker Network Setup  #
# --------------------- #
networks:
  backend_net:
    driver: bridge
